*{
    margin:0 auto;
    padding:0;
    font: 16px "Lato";
    box-sizing:border-box;
}


@font-face {
    font-family: 'Lato';
    src: url(/fonts/LatoLight.eot); /* Для IE5-8 */
    src: local(raleway), url(/fonts/LatoLight.ttf); /* Для остальных браузеров */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(/fonts/LatoBold.eot); /* Для IE5-8 */
    src: local(raleway), url(/fonts/LatoBold.ttf); /* Для остальных браузеров */
    font-weight: 600;
    font-style: normal;
}

.col-100{
    width:100%;
}
.col-40{
    width:40%;
}
.col-60{
    width:60%;
}

.app{
    width:100%;
}
.appBodyDiv{
    overflow:auto;
    background: #dee9f1;
    min-height:90vh;
}

header{
    height:9.5vh;
}
header>ul{
    list-style: none;
    height:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.main-nav li{
    margin: 0 3em 0 3em;
}

.main-nav li:first-child{
    margin: 0 1.7em 0 3em;
}
.main-nav a {
    display: inline-block;
    text-decoration: none;
    color:#000;
    font-size:2.5vh;
}
.main-nav a:after{
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.main-nav a:hover:after{
    width: 100%;
    background: #fb5332;
}

